.container {
  display: flex;
  height: 100%;
}

.settingsPanel {
  padding: 20px 32px;
  border-right: 1px solid #e0e4ea;
}

.settingsMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;

  .changePasswordLink {
    padding-bottom: 16px;
  }

  li {
    list-style-type: none;
  }

  li:last-child {
    padding-block: 16px;
    border-top: 1px solid #e0e4ea;
  }

  button,
  a {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 8px;
    background: none;
    border: none;
    text-decoration: none;
    color: black;
  }
}

.settingsContent {
  padding: 20px 32px;
}

@media (max-width: 1024px) {
  .settingsPanel {
    border: none;
    width: 100%;
  }
}
