.container {
  display: flex;
  height: 100%;
}

.settingsPanel {
  padding: 20px 32px;
  border-right: 1px solid #e0e4ea;
}

.settingsMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;

  li {
    list-style-type: none;
  }

  button,
  a {
    display: flex;
    gap: 12px;
    padding: 8px;
    background: none;
    border: none;
    text-decoration: none;
    color: black;
  }
}
