/* ================================
   Layout
================================ */

.container {
  display: flex;
  height: 100vh;
}

.noteSidebar {
  flex: 1;
  padding: 20px 24px;
  border-right: 1px solid #e5e5e5;
}

.noteEditor {
  display: flex;
  flex: 5;
  flex-direction: column;
  gap: 16px;
  padding: 20px 24px;
  border-right: 1px solid #e5e5e5;
}

.noteActionSidebar {
  flex: 1;
}

/* ================================
   General Editor Styles
================================ */

.noteEditor input,
.noteEditor textarea {
  border: none;
  outline: none;
  resize: none;
}

/* ================================
   Create Note Button
================================ */

.createNoteBtn {
  width: 242px;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background-color: #335cff;
  color: white;
}

/* ================================
   Note Information
================================ */

.noteTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.noteTitle::placeholder {
  color: #0e121b;
}

/* ================================
   Metadata
================================ */

.metaData {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 16px;
  border-bottom: 1px solid #e0e4ea;
}

.metaRow {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px;
}

.metaLabel {
  display: flex;
  gap: 8px;
  color: #2b303b;
}

.metaLabel img {
  width: 16px;
}

.tagsInput::placeholder {
  color: #99a0ae;
}

.editStatus {
  color: #99a0ae;
}

/* ================================
   Note Content
================================ */

.noteContent {
  flex: 1;
  overflow-y: auto;
}

.noteContent::placeholder {
  color: #2b303b;
}

/* ================================
   Note Actions
================================ */

.noteActions {
  display: flex;
  gap: 16px;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid #e0e4ea;
}

.noteActions button {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
}

.saveButton {
  background-color: #335cff;
  color: white;
}

.cancelButton {
  background-color: #f3f5f8;
}

/* ================================
   Note List
================================ */

.noteList {
  margin-top: 4px;
}

.noteItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;
  border-bottom: 1px solid #e0e4ea;
}

.noteItem:last-child {
  border: none;
}

.noteItemTags {
  display: flex;
  gap: 4px;
}

.noteTags {
  font-family: sans-serif;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #e0e4ea;
}

/* ================================
   Responsive
================================ */
@media (max-width: 1024px) {
  .noteControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e4ea;
  }

  .noteSidebar {
    padding: 24px 32px;
  }

  .noteListTitle {
    margin-bottom: 16px;
  }

  .noteList {
    margin: 0;
  }

  .noteItem {
    padding: 8px;
  }

  .backButton {
    border: none;
    background: transparent;
  }

  .noteActions {
    padding: 0;
    border: none;
    width: auto;

    button {
      background: transparent;
      padding: 0;
    }

    .cancelButton {
      color: #525866;
    }

    .saveButton {
      color: #335cff;
    }
  }
}
