.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 32px;
  background-color: #fff;
  box-shadow: 0 -4px 6px rgba(240, 240, 240, 0.6);
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  list-style-type: none;
  border-right: 1px solid #f3f5f8;
}

.item:last-child {
  border-right: none;
}

.navLink,
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #717784;

  img {
    width: 24px;
  }
}

.searchButton,
.tagsButton {
  border: none;
  background: transparent;
}
